@import "antd/dist/antd.min.css";

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
  min-width: 450px;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl .logo {
  float: right;
  /* margin: 16px 0 16px 24px; */
}
[data-theme="dark"] .site-layout-content {
  background: #141414;
}

.layout {
  min-height: 100vh;
}

@media screen and (min-width: 992px) {
  .content-container {
    padding: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .content-container {
    padding: 10px;
  }
}
